extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='forename') First Name: 
      input#forename.form-control(type='text' placeholder='First name' name='forename' required='true' value=(undefined===author ? '' : author.forename) )
      br
      br
      label(for='surname') Surname: 
      input#surname.form-control(type='text' placeholder='Family name' name='surname' required='true' value=(undefined===author ? '' : author.surname))
      br
      br
    div.form-group
      label(for='date_of_birth') Date of birth: 
      input#date_of_birth.form-control(type='date' name='date_of_birth' value=(undefined===author ? '' : author.date_of_birth_iso) )
      br
      br
      label(for='date_of_death') Date of death: 
      input#date_of_death.form-control(type='date' name='date_of_death' value=(undefined===author ? '' : author.date_of_death_iso) )
      br
      br
    button.btn.btn-primary(type='submit') Submit
  if errors
    ul
      for error in errors
        li!= error.msg