doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='container')
      div(class='header')
        h1(class='headertext') Chess Library
      div(class='main')
        div(class='sidebar')
          block sidebar
            div(class='nav')
              div(class='topnav')
                button(class='navbtn')
                  a(href='/catalogue') Home
                br
                button(class='navbtn')
                  a(href='/catalogue/books') All books
                button(class='navbtn')
                  a(href='/catalogue/authors') All authors
                button(class='navbtn')
                  a(href='/catalogue/categories') All categories
                button(class='navbtn')
                  a(href='/catalogue/copies') All copies
                br
              div(class='bottomnav')    
                button(class='navbtn')
                  a(href='/catalogue/author/create') Create new author
                button(class='navbtn')
                  a(href='/catalogue/category/create') Create new category
                button(class='navbtn')
                  a(href='/catalogue/book/create') Create new book
                button(class='navbtn')
                  a(href='/catalogue/copy/create') Create new copy

        div(class='content')
          block content